<h1>Baseball rankings</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Pitching</h2>
			<ol>
				<% pitching.each do |k,v| %>
					<li class="text-white"><h5><%= k %>: <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>f
		<div class="col">
			<h2>Batting</h2>
			<ol>
				<% batting.each do |k,v| %>
					<li class="text-white"><h5><%= k %>: <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
		<div class="col">
			<h2>Overall</h2>
			<ol>
				<% over_all.each do |k,v| %>
					<li class="text-white"><h5><%= k %>: <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
	</div>
</div>