<h1>Weekly rankings</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Pitching</h2>
			<ol>
				<% wpitching.each do |k,v| %>
					<li class="text-white"><h5><%= k %>: <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
		<div class="col">
			<h2>Batting</h2>
			<ol>
				<% wbatting.each do |k,v| %>
					<li class="text-white"><h5><%= k %>: <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
		<div class="col">
			<h2>Weekly Overall</h2>
			<ol>
				<% wover_all.each do |k,v| %>
					<li class="text-white"><h5><%= k %>: <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
	</div>
</div>