<h1>Player Weekly Ranks</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>Batting last 9 days</h2>
			<ol>
				<% wbplayers.each do |k,v| %>
					<li class="text-white"><h5><%= k %> : <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
		<div class="col">
			<h2>Pitching 15 day</h2>
			<ol>
				<% wbpitching.each do |k,v| %>
					<li class="text-white"><h5><%= k %> : <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
		<div class="col">
			<h2>15 day k/9</h2>
			<ol>
				<% k_per_nine.each do |k,v| %>
					<li class="text-white"><h5><%= k %> : <small><%= v %></small></h5></li>
				<% end %>
			<ol>
		</div>
	</div>
</div>