<div class="mt-3">
	<%= link_to 'Delete Post', post_path(@post), class: 'btn btn-danger', data: { "turbo-method": :delete, confirm: 'Are you sure?' } %>
	<%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
</div>
<div class="container mt-4">
  <h1 class="text-center">9 DAy Ranks</h1>
  <p>
    <%= @post.title %>
  </p>

	<div class="row">
		<div class="col">
			<h3>Teams</h3>
			<ol>
				<% @post_teams.teams.each do |team| %>
					<li class="text-white"><h5><%= team.name %><h5></li>
				<% end %>
			</ol>
		</div>
		<div class="col">
			<h3>Batters</h3>
			<ol>
				<% @post_players.players.each do |player| %>
					<li class="text-white"><h5><%= player.name %><h5></li>
				<% end %>
			</ol>
		</div>
		<div class="col">
			<h3>Pitchers</h3>
			<ol>
				<% if @post_pitchers.present? %>
					<% @post_pitchers.pitchers.each do |pitcher| %>
						<li class="text-white"><h5><%= pitcher.name %><h5></li>
					<% end %>
				<% end %>
			</ol>
		</div>
	</div
</div>
<div class = "container">
	<div class="row">
	<h1 style="color: blue !important;">9 Day Batting Leaders</h1>
		<% @post_leaders.leaders.each do |leader| %>
			<div class="col-4">
			  <h4><%= leader.stat %></h4>
				<h5><%= leader.name1 %>: <small><%= leader.stat1 %></small></h5>
				<h5><%= leader.name2 %>: <small><%= leader.stat2 %></small></h5>
				<h5><%= leader.name3 %>: <small><%= leader.stat3 %></small></h5>
			</div> 
		<% end %>
		<h1 style="color: blue !important;">9 Day Pitching Leaders</h1>
		<% @post_pleaders.pleaders.each do |pleader| %>
			<div class="col-4">
			  <h4><%= pleader.stat %></h4>
				<h5><%= pleader.name1 %>: <small><%= pleader.stat1 %></small></h5>
				<h5><%= pleader.name2 %>: <small><%= pleader.stat2 %></small></h5>
				<h5><%= pleader.name3 %>: <small><%= pleader.stat3 %></small></h5>
			</div> 
		<% end %>
	</div>
</div>